html,
body,
#root{
  margin: 0px;
  width: 100%;
  height: 100%;
}
li:hover{
  cursor: pointer;
  /* color: rgb(255, 141, 60); */
  background-image: linear-gradient(90deg, rgba(190,31,207,1) 25%, rgba(255,141,60,1) 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;

}
.fatlum{
  width: fit-content;
  background-image: linear-gradient(90deg, rgba(190,31,207,1) 25%, rgba(255,141,60,1) 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.role{
  background-image: linear-gradient(90deg, rgba(190,31,207,1) 25%, rgba(255,141,60,1) 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}
.container{
  transition: 0.15s ease-in-out;
  -moz-transition: 0.15s ease-in-out;
  -webkit-transition: 0.15s ease-in-out;
}

.container:hover{
  width: 650px;
  box-shadow:  0 40px 80px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.5s ease-in;
  -moz-transition:  0.5s ease-in-out;
   -webkit-transition:  0.5s ease-in-out;
}

.container:hover .roleDesc{
  display:block;
}

.htmlScreen iframe{
  width: 1024px;
  height: 670px;
  border: none;
}

.visitButton{
  background-image: linear-gradient(90deg, rgba(190,31,207,1) 25%, rgba(255,141,60,1) 100%);
  transition: 0.15s ease-in-out;
  -moz-transition: 0.15s ease-in-out;
  -webkit-transition: 0.15s ease-in-out;

}
.visitButton:hover{
  transform: scale(1.2);
  transition: 0.5s ease-in;
  -moz-transition:  0.5s ease-in-out;
   -webkit-transition:  0.5s ease-in-out;

}

a:hover{
  cursor: pointer;
}

